.container {
  max-width: 800px;
  margin: auto;
  padding-left: 8px;
  padding-right: 8px;
  height: calc(100svh - 128px);
  overflow-y: scroll;
}

h1 {
  padding-top: 20px;
  padding-bottom: 40px;
}

p {
  text-align: justify;
}

@media screen and (max-width: 740px) {
  .container {
    height: calc(100svh - 178px);
  }
}

@media screen and (max-width: 598px) {
  .container {
    height: calc(100svh - 170px);
  }
}

@media screen and (max-width: 500px) {
  .container {
    height: calc(100svh - 156px);
  }
}
