<div class="container">
  <h1>Terms of Service</h1>
  <h2>Applicable User</h2>
  <p>When using the Service, you must not send unreasonable number of requests to the API or send requests to the server that harm hiking-alerts.org.</p>
  <p>Otherwise, we may block your access to the API.</p>
  <p><br>You may not share your API credentials and tokens with others, to avoid that we receive unreasonable number of requests to the API through your account.</p>
  <h2>Privacy Policy</h2>
  <p>Please refer to our <a href="http://hiking-alerts.org/privacy-policy">privacy policy</a> for information on how we handle your data.</p>
  <h2>Limitation of Liability</h2>
  <p>By using our services, you agree that  we shall not be liable to you or to any third party for any incidental, indirect, special, consequential, or punitive damages, including but not limited to any loss of profits, use, goodwill or data.</p>
  <p>Among other things, the limitation of liability applies for the following cases:</p>
  <ul>
    <li>Losses & damages due to the use or incorrect use of the service;</li>
    <li>Losses & damages due to incorrect, incomplete and not up-to-dateness of data provided by the service;</li>
    <li>Losses & damages due to any modification, price change, suspension or discontinuance of the Service;</li>
    <li>Losses & damages due to any other matter relating to the Service.</li>
  </ul>
  <p>In case individual remedies of this agreement are invalid, the remaining remedies shall remain valid unchanged.</p>
</div>
