#map {
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay-div {
  position: absolute;
  bottom: 2px;
  left: 50px;
  font-size: 12px;
  background-color: rgba(232, 225, 225, 0.8);
  z-index: 1000;
  color: #4f4e4e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.overlay-counter {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 65px;
  right: 9px;
  font-size: 20px;
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc3939d9;
  opacity: 0.95;
  font-weight: bold;
  color: white;
}

.info-counter {
  padding: 4px;
}

.info {
  padding: 4px;
}

.info-break {
  display: None;
}

.floating-button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #2196F3;
  border: none;
  position: absolute;
  bottom: 30px;
  right: 20px;
  z-index: 1000;
}

@media screen and (max-width: 600px) {
  .overlay-div {
    left: 25px;
  }
}

@media screen and (max-width: 500px) {
  .info-break {
    display: flex;
  }
}
