<div>
  <div class="secondary-toolbar">
    <button
      matTooltip="Switch to list"
      [matTooltipDisabled]="!showMap"
      class="btn btn-toggle"
      [class.active]="!showMap"
      (click)="toggleView()">
      <span *ngIf="!showMap">List</span>
    </button>
    <button
      matTooltip="Switch to map"
      [matTooltipDisabled]="showMap"
      class="btn btn-toggle"
      [class.active]="showMap"
      (click)="toggleView()">
      <span *ngIf="showMap">Map</span>
    </button>
  </div>
  <div class="container">
    <div class="left" [hidden]="isMobile && showMap">
      <ng-container #list_container/>
    </div>
    <div class="right" [hidden]="isMobile && !showMap" (click)="hideOverlay()">
      <ng-container #map_container/>
    </div>
  </div>

  <div (click)="$event.stopPropagation()" class="overlay" [style.display]="isOverlayVisible ? 'flex' : 'none'">
    <img src="assets/close.svg" alt="close" height="36" width="36" class="close" (click)="hideOverlay()"/>
    <ng-container #overlay_container/>
  </div>
</div>

