<div class="screen_wrapper">
  <form class="register-form"
        (ngSubmit)="onSubmit(form)"
        [formGroup]="form"
        *ngIf="isForm">
    <mat-form-field class="input inputTop">
      <mat-label>Enter Email</mat-label>
      <input type="email"
             formControlName="email"
             matInput
             [errorStateMatcher]="matcher"/>
      <mat-error>{{getMailErrorMessage()}}</mat-error>
    </mat-form-field>

    <p>
      Enter your registered email and you will receive an email with instructions how
      to reset your password.
    </p>

    <div>
      <button mat-raised-button class="button">
        Reset password
      </button>
    </div>
  </form>
  <div *ngIf="!isForm">
    <p class="message">{{message}}</p>
  </div>
</div>
