<div class="copy-container">
  <div class="body">
    <h1>Copyright Credits</h1>
    <h2>CH Federal Roads Office</h2>
    <p>We provide CH alert and trail data via the map and the API. The data is copyrighted by Federal Roads Office 2025.</p>
    <p>Federal Roads Office does not provide a license for the data, but allows free-usage and re-distribution of the data.</p>
    <a href="https://www.geo.admin.ch/en/general-terms-of-use-fsdi/">https://www.geo.admin.ch/en/general-terms-of-use-fsdi/</a>
    <h2>IE Sport Ireland</h2>
    <p>We provide IE alert and trail data via the map and the API. The data is copyrighted by Sport Ireland 2025.</p>
    <p>The data is available under the <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons Attribution 4.0 International License</a>.</p>
    <a href="https://data.gov.ie/dataset/getirelandactive_trailroutes">https://data.gov.ie/dataset/getirelandactive_trailroutes</a>
    <h2>Makina Corpus</h2>
    <p>We use the Geotrek Admin editor to allow users to adjust trail coordinates in the profile section. The Geotrek solution is copyrighted by Copyright (c) 2012-2018, Makina Corpus / Parc National des Écrins - Parc National du Mercantour - Parco delle Alpi Marittime.</p>
    <p>The Geotrek solution is available under the <a href="https://github.com/GeotrekCE/Geotrek-admin?tab=BSD-2-Clause-1-ov-file">BSD-2-Clause License</a>.</p>
    <h2>NZ Department of Conservation</h2>
    <p>We provide NZ alert and trail data via the map and the API. The data is copyrighted by Crown Copyright: Department of Conservation Te Papa Atawhai 2025.</p>
    <p>The data is available under the <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons Attribution 4.0 International License</a>.</p>
    <a href="https://api.doc.govt.nz/copyright/unclassified">https://api.doc.govt.nz/copyright/unclassified</a>
    <h2>OpenStreetMap</h2>
    <p>We use geodata from © OpenStreetMap contributors.</p>
    <p>The data is available under the <a href="https://www.opendatacommons.org/licenses/odbl">Open Database License (ODbL)</a>.</p>
    <h2>US National Park Service</h2>
    <p>We provide US alert and trail data via the map and the API. NPS does not restrict use cases of the data.</p>
    <p>Unrestricted data use rights - no license provided by data provider</p>
    <a href="https://www.nps.gov/subjects/digital/nps-data-api.htm">https://www.nps.gov/subjects/digital/nps-data-api.htm</a>
  </div>
</div>
