.copy-container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  height: calc(100svh - 148px);
}

h1 {
  padding-top: 20px;
  padding-bottom: 40px;
}

p {
  text-align: justify;
}

@media screen and (max-width: 740px) {
  .copy-container {
    height: calc(100svh - 200px);
  }
}

@media screen and (max-width: 598px) {
  .copy-container {
    height: calc(100svh - 190px);
  }
}

@media screen and (max-width: 500px) {
  .copy-container {
    height: calc(100svh - 176px);
  }
}
