.copy-container {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  height: calc(100vh - 146px);
}

h1 {
  padding-top: 20px;
  padding-bottom: 40px;
}

p {
  text-align: justify;
}
