<div class="copy-container">
  <h1>Copyright Credits</h1>
  <h2>NZ Department of Conservation</h2>
  <p>We provide NZ alert and trail data via the map and the API. The data is copyrighted by Crown Copyright: Department of Conservation Te Papa Atawhai 2024.</p>
  <p>The data is available under the Creative Commons Attribution 4.0 International License.</p>
  <h2>OpenStreetMap</h2>
  <p>We use geodata from © OpenStreetMap contributors.</p>
  <p>The data is available under the Open Database License (ODbL) (www.opendatacommons.org/licenses/odbl).</p>
</div>
