.copy-container {
  height: calc(100svh - 126px);
  overflow-y: scroll;
}

.body {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 40px;
}

p {
  text-align: justify;
}

@media screen and (max-width: 740px) {
  .copy-container {
    height: calc(100svh - 180px);
  }
}

@media screen and (max-width: 598px) {
  .copy-container {
    height: calc(100svh - 170px);
  }
}

@media screen and (max-width: 500px) {
  .copy-container {
    height: calc(100svh - 156px);
  }
}
