<div class="screen_wrapper">
  <form class="register-form"
        (ngSubmit)="onSubmit(form)"
        [formGroup]="form">
    <mat-form-field class="input">
      <mat-label>Enter Password</mat-label>
      <input type="password"
             formControlName="password"
             matInput
             [errorStateMatcher]="matcher"/>
      <mat-error>{{getPwErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Confirm Password</mat-label>
      <input type="password"
             formControlName="password_check"
             matInput
             [errorStateMatcher]="matcher"/>
      <mat-error>{{getPwConfirmErrorMessage()}}</mat-error>
    </mat-form-field>

    <p>
      Enter a new password to re-gain access to your account.
    </p>

    <div>
      <button color="primary" class="button">
        Change password
      </button>
    </div>
  </form>
</div>
