.input {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}


.button {
  margin-top: 36px;
  width: 100%;
  max-width: 500px;
  background-color: red;
  color: white;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 var(--mat-protected-button-horizontal-padding, 16px);
  box-shadow: var(--mdc-protected-button-container-elevation-shadow, var(--mat-app-level1));
  height: var(--mdc-protected-button-container-height);
  font-family: var(--mdc-protected-button-label-text-font,var(--mat-app-label-large-font) );
  font-size: var(--mdc-protected-button-label-text-size, var(--mat-app-label-large-size));
  letter-spacing: var(--mdc-protected-button-label-text-tracking, var(--mat-app-label-large-tracking));
  text-transform: var(--mdc-protected-button-label-text-transform);
  font-weight: var(--mdc-protected-button-label-text-weight, var(--mat-app-label-large-weight));
  border-radius: var(--mdc-protected-button-container-shape, var(--mat-app-corner-full));
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border: none;
  outline: none;
  line-height: inherit;
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
}

form {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

mat-label {
  padding-left: 8px;
}

.screen_wrapper {
  padding-top: 64px;
  padding-left: 8px;
  padding-right: 8px;
  height: calc(100vh - 190px);
}

@media screen and (max-width: 740px) {
  .screen_wrapper {
    height: calc(100vH - 242px);
  }
}

@media screen and (max-width: 598px) {
  .screen_wrapper {
    height: calc(100vH - 234px);
  }
}

@media screen and (max-width: 500px) {
  .screen_wrapper {
    height: calc(100vH - 218px);
  }
}
