<div>
  <div class="header">List of alerts in your region:</div>
  <hr class="line"/>
  <div class="scrollable-list">
    <div class="card-container">
      <mat-card *ngFor="let obj of eventList" class="mat-card">
        <div (click)="this.onCardClick(obj)" class="card-item">
          <mat-card-header>
            <mat-card-title>{{obj.title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{obj.description}}</p>
            <a href="obj.url">Link to Alert</a>
          </mat-card-content>

          <div class="footer">
            <div class="footer-wrapper">
              <div class="custom-chip">
                <span class="span-chip">{{obj.publisher}}</span>
              </div>
              <div class="custom-chip">
                <span class="span-chip">{{obj.status}}</span>
              </div>
              <div class="custom-chip">
                <span class="span-chip">{{obj.create_date}}</span>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

