.scrollable-list {
  height: calc(100vh - 130px);
  overflow-y: scroll;
  padding-right: 8px;
}
.card-footer {
  padding: 16px;
}

.title {
  font-size: 14px;
  font-family: Arial, serif;
  font-weight: bold;
}

.content {
  font-size: 13px;
  text-align: justify;
}

.mat-card {
  background-color: white;
  border-width: var(--mdc-chip-outline-width);
  border-radius: var(--mdc-chip-container-shape-radius);
  border-color: var(--mdc-chip-outline-color);
}

.line {
  margin-bottom: 13px;
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap if there's not enough space */
  gap: 16px; /* This property controls the gap between cards */
}

.header {
  margin: 0;
  padding-top: 12px;
  padding-left: 16px;
  font-family: var(--mat-card-title-text-font);
  line-height: var(--mat-card-title-text-line-height);
  font-size: var(--mat-card-title-text-size);
  letter-spacing: var(--mat-card-title-text-tracking);
  font-weight: var(--mat-card-title-text-weight);
}

.footer {
  padding: 16px;
}

.footer-wrapper {
  min-width: 100%;
  margin-left: -8px;
  margin-right: 0;
  display: flex;
  flex-flow: wrap;
  min-width: 0;
}

.custom-chip {
  border-width: var(--mdc-chip-outline-width);
  border-radius: var(--mdc-chip-container-shape-radius);
  border-color: var(--mdc-chip-outline-color);
  border-style: solid;
  margin: 4px 0 4px 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
  z-index: 0;
}

.span-chip {
  height: var(--mdc-chip-container-height);
  padding-left: 11px;
  padding-right: 11px;
  color: var(--mdc-chip-label-text-color);
  font-family: var(--mdc-chip-label-text-font);
  line-height: var(--mdc-chip-label-text-line-height);
  font-weight: var(--mdc-chip-label-text-weight);
  letter-spacing: var(--mdc-chip-label-text-tracking);
  flex-basis: 100%;
  overflow-x: hidden;
  display: inline-flex;
  align-items: center;
}

.card-item {
  cursor: default;
}
