<div (click)="closeRequest()">
  <mat-toolbar class="toolbar">
    <img src="assets/icon.png" height="36px" width="36px" alt="logo" class="header-img" routerLink="/hiking-alerts"/>
    <div class="title"><a class="site-title" href="#" routerLink="/hiking-alerts">Hiking Alerts</a></div>

    <span class="spacer"></span>

    <a class="mat-button" href="/specs" routerLink="specs">API Specs</a>

    <div *ngIf="!getLoginStatus()">
      <a class="mat-button" href="/register" routerLink="register">SignUp</a>
      <a class="login" href="/login" routerLink="login">Login</a>
    </div>

    <div *ngIf="getLoginStatus()">
      <a class="mat-button" href="/profile" routerLink="profile">Profile</a>
      <a class="mat-button" (click)="logout()">Logout</a>
    </div>
    <img src="assets/menu.svg" alt="menu" width="36" height="36" class="menu" (click)="toggleSidebar()">
  </mat-toolbar>

  <div class="container" [ngClass]="isNavigating ? 'container-loading': 'container'">
    <div class="sidebar" [style.display]="isOpenSidebar ? 'flex' : 'none'" (click)="$event.stopPropagation()">
      <ng-container #container/>
    </div>
    <router-outlet></router-outlet>
  </div>

  <mat-progress-bar mode="indeterminate" [style.display]="isNavigating ? 'flex' : 'none'"></mat-progress-bar>
  <div class="footer">
    <div class="line"></div>
    <div class="body">
      <div  style="display:block; text-align:left; float:left;">
        <p class="copy">Ⓒ 2024 Hiking Alerts</p>
      </div>
      <div class="wide-footer">
        <div class="line-1">
          <p class="copy-en" routerLink="footer/copyright-credits">Copyright Credits</p>
          <p class="footnote-en" routerLink="footer/terms-of-service">Terms of Service</p>
        </div>
        <div class="line-2">
          <img src="../assets/flag_nz.svg" width="30" height="20" alt="" class="footer-img">
          <p class="footnote-en" routerLink="footer/contact">Contact</p>
          <p class="footnote-en" routerLink="footer/privacy-policy">Privacy Policy</p>
        </div>
      </div>
    </div>
  </div>
</div>
