.container {
  height: calc(100vh - 126px);
  overflow-y: scroll;
}

.body {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}

h1 {
  padding-top: 20px;
}

p {
  text-align: justify;
}
