.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.sub-container {
  margin-left: auto;
  margin-right: auto;
}

.body {
  padding-top: 28px;
  font-size: 18px;
}

.line {
  padding-bottom: 16px;
  padding-left: 5px;
  min-width: 200px;
  max-width: 400px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.scalable-line {
  padding-bottom: 16px;
  padding-left: 5px;
  max-width: 50px;
}

.api-key {
  padding-bottom: 16px;
  padding-left: 5px;
  max-width: 400px;
  padding-right: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.row {
  display: flex;
}

.button {
  margin-left: 32px;
  margin-top: 14px;
}

.api-col1 {
  width: 150px;
}

.col1 {
  width: 150px;
}

.info {
  background-color: #faf9fd;
  color: var(--mdc-protected-button-label-text-color);
  max-width: 410px;
  padding: 5px;
  border: 1px solid grey;
  margin-bottom: 16px;
}

h2 {
  padding-top: 16px;
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 30px);
    padding-left: 30px;
  }

  .api-key {
    padding-left: 5px;
  }

  .info {
    font-size: 14px;
    max-width: 390px;
  }

  h2 {
    display: flex;
  }
  .body {
    padding-top: 0;
    font-size: 16px;
  }
}

@media screen and (max-width: 900px){
  .api-col1 {
    width: 100px;
    min-width: 50px;
  }
  .api-key {
    padding-left: 0;
    font-size: 14px;
    width: 350px;
  }
}
