iframe {
  width: 100vH;
  height: calc(100vH - 207px);
  border: none;
  padding-top: 0;
  margin-top: 0;
  justify-content: center;
}

.loading {
  font-size: 18px;
  line-height: 2;
  padding-top: 40px;
}
