<div class="dialog">
  <div class="title">{{event?.title}}</div>
  <div class="content body">{{event?.description}}</div>
  <a class="content body" href="{{event?.url}}">Link for more infos</a>
  <div class="footer-wrapper">
    <div class="custom-chip">
      <span class="span-chip content">{{event?.publisher}}</span>
    </div>
    <div class="custom-chip">
      <span class="span-chip content">{{event?.status}}</span>
    </div>
    <div class="custom-chip">
      <span class="span-chip content">{{event?.create_date}}</span>
    </div>
  </div>
</div>
